
<div class="toolbar-section box-style">
  <h5 class="m-0">List Of Brands</h5>
    <a class="btn btn-primary" [routerLink]="['/brands/add']">add new Brand</a>
</div>
<div class="box-style">
<div class="col-md-12 mt-4 text-center" *ngIf="isLoadingBrand">
  <i class="fas fa-spinner fa-spin fa-2xl"></i>
  <p class="mt-3 text-center">Loading...</p>
</div>
<div class="table-responsive">
<table class="table table-hover">
    <thead *ngIf="!isLoadingBrand">
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <!-- <th scope="col"></th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of listBrands">
        <td scope="row">{{brand.id}}</td>
        <td><img [src]="brand.img" /></td>
        <td>{{brand.name}}</td>
        <!-- <td>
            <a [routerLink]="['/brands/edit',brand.id]"><img src="./../../assets/img/icons/pen.svg"/></a>
            <a (click)="deleteBrand(brand.id)"><img src="./../../assets/img/icons/trash.svg"/></a>
        </td> -->
      </tr>

    </tbody>
  </table>
</div>
</div>